/* ﾌﾞﾚｰｸﾎﾟｲﾝﾄ初期化  */
.bp-min-width600-hide {
  display: block;
}
.bp-min-width600-show {
  display: none;
}

/* ﾕｰﾃｨﾘﾃｨ */
.u-click {
  padding: 0.5em 1em;
  cursor: pointer;
}

html {
  font-size: clamp(14px, calc(14px + (100vw - 375px) * (2 / 225)), 16px);
}
header {
  z-index : 1;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
}
main {
  z-index   : 0;
  position  : relative;
  background-color: #006F86;
  min-height: 150dvh;
  /* margin-top は js から制御。header の高さ分を設定 */
}

.menu {
  display   : flex;
  width     : fit-content;
  margin    : 0 auto;
  font-size : 0.8rem;
  border    : solid 1px blue;
}
.menu-item {
  flex: 1;
  text-align: center;
  border    : solid 1px red;
}
.menu-icon {
  max-width : 2em;
  height    : 1.5em;
  margin-bottom: 0.5em;
  object-fit: contain;
  transform : rotate(0);
  transition: transform 0s;
}
.menu-item:hover .menu-icon {
  transform: rotate(30deg);
  animation: hovered-rotate 1s infinite;
}
@keyframes hovered-rotate {
  0%,49%   { transform: rotate(30deg); }
  50%,100% { transform: rotate(0); }
}

.bubbles {
  z-index : 0;
  overflow: hidden;
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}
.bubble {
  position: absolute;
  background-image: url("../image/Frame\ 1.png");
  background-size : cover;
}
@keyframes floating {
  0% {}
  100% { top: 0; }
}

.mv {
  z-index: 1;
  position: relative;
  width : 100%;
  border: solid 1px red;
}
.mv .slider {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.mv .slide {
  flex-shrink: 0;
  width: 100%;
  height: 50dvh;
  padding: 0 5%;
}
.mv .slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mv .slider-admin {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  border: solid 1px blue;
}
.mv .slider-admin .u-click:nth-of-type(1) {
  order: 0;
}
.mv .slider-admin .u-click:nth-of-type(2) {
  order: 2;
}
.mv .slider-admin__next-arrow {
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 1px red;
  border-radius: 100%;
  transform: rotate(0);
}
.mv .u-click:hover .slider-admin__next-arrow {
  animation: arrow-rotate 2s ease-in-out forwards infinite;
}
@keyframes arrow-rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(-360deg); }
}
.mv .slider-admin__next-arrow span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.mv .slider-admin__next-arrow span::before,
.mv .slider-admin__next-arrow span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: 2px;
  border-color: red;
  content: "";
}
.mv .slider-admin__next-arrow span::before {
  width: 60%;
  border-style: solid none none none;
  transform: translate(-50%, -50%);
}
.mv .slider-admin__next-arrow span::after {
  width: 40%;
  height: 40%;
  border-style: solid solid none none;
  transform: translate(-65%, -50%) rotate(225deg);
}
.mv .slider-admin__next-arrow.right span::after {
  transform: translate(-35%, -50%) rotate(45deg);
}
.mv .slider-admin__dots {
  order: 1;
  display: flex;
  align-items: center;
  width: fit-content;
  border: solid 1px red;
}
.mv .slider-admin__dot::before {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../image/slider-dot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}


@media screen and (min-width: 600px) {
  .bp-min-width600-hide {
    display: none;
  }
  .bp-min-width600-show {
    display: inline-block;
  }
}