html {
  font-size: clamp(14px, calc(14px + (100vw - 375px) * (2 / 225)), 16px);
}
header {
  z-index : 1;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
}
main {
  z-index   : 0;
  position  : relative;
  background-color: #006F86;
  min-height: 150dvh;
}

.menu {
  display   : flex;
  gap       : 1em;
  width     : fit-content;
  margin    : 0 auto;
  font-size : 1rem;
  border    : solid 1px blue;
}
.menu-item {
  text-align: center;
  border    : solid 1px red;
}
.menu-icon {
  height    : 1em;
  object-fit: cover;
}

.bubbles {
  z-index : 0;
  overflow: hidden;
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}
.bubble {
  position: absolute;
  background-image: url("../image/Frame\ 1.png");
  background-size : cover;
}
@keyframes floating {
  0% {}
  100% { top: 0; }
}

.mv {
  width : 100%;
  height: 50dvh;
  border: solid 1px red;
}