/* ﾌﾞﾚｰｸﾎﾟｲﾝﾄ初期化  */
.bp-min-width600-hide {
  display: block;
}
.bp-min-width600-show {
  display: none;
}

html {
  font-size: clamp(14px, calc(14px + (100vw - 375px) * (2 / 225)), 16px);
}
header {
  z-index : 1;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
}
main {
  z-index   : 0;
  position  : relative;
  background-color: #006F86;
  min-height: 150dvh;
  /* margin-top は js から制御。header の高さ分を設定 */
}

.menu {
  display   : flex;
  width     : fit-content;
  margin    : 0 auto;
  font-size : 0.8rem;
  border    : solid 1px blue;
}
.menu-item {
  flex: 1;
  padding   : 0.5em 1em;
  text-align: center;
  cursor    : pointer;
  border    : solid 1px red;
}
.menu-icon {
  max-width : 2em;
  height    : 1.5em;
  margin-bottom: 0.5em;
  object-fit: contain;
  transform : rotate(0);
  transition: transform 0s;
}
.menu-item:hover .menu-icon {
  transform: rotate(30deg);
  animation: hovered-rotate 1s infinite;
}
@keyframes hovered-rotate {
  0%,49%   { transform: rotate(30deg); }
  50%,100% { transform: rotate(0); }
}

.bubbles {
  z-index : 0;
  overflow: hidden;
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}
.bubble {
  position: absolute;
  background-image: url("../image/Frame\ 1.png");
  background-size : cover;
}
@keyframes floating {
  0% {}
  100% { top: 0; }
}

.mv {
  width : 100%;
  /* height: 50dvh; */
  border: solid 1px red;
}
.mv-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.mv-slide {
  flex-shrink: 0;
  width: 100%;
  padding: 0 10%;
}
.mv-slide__img {
  width: 100%;
  object-fit: contain;
}


@media screen and (min-width: 600px) {
  .bp-min-width600-hide {
    display: none;
  }
  .bp-min-width600-show {
    display: inline-block;
  }
}